name: Release Charts

on:
  push:
    branches:
      - main
  workflow_dispatch:  # ability to manually trigger the workflow

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Add Helm Repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add celestiaorg https://celestiaorg.github.io/helm-charts
          helm repo update

      - name: Update Helm Dependencies
        run: |
          helm dependency update charts/celestia-node

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: "charts"
          packages_with_index: "true"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"